*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background: #000000;
    border: 1px solid #564333;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}
.logo img{
    width: 100px;
    padding: 10px;
    cursor: pointer;
}
.input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}
.nav-list{
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
}

.nav .nav-list li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    color: white;
}
.nav .nav-list .perfil img{
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    text-align: center;
}
.nav .nav-list li img{
    width: 10px;
    text-align: center;
}

/*Hasta aca queda la parte de la barra de navegacion ↑↑↑*/

.aside{
    background-color: #a0252d;
    display: inline-block;
    border-right: 2px solid #6b181e;
    
}
.aside .options img{
    width: 30px;
}
.aside .options li{
    text-align: center;
    font-size: 15px;
    padding: 15px;
    
}
.aside .options .ajustes{
    margin-top: 300px;
}
/*Hasta aca la parte del aside ↑↑↑*/
.post-image{
    margin: 0;
}

.post-image img{
    width: 100%;
    vertical-align: top;    
}

.post{
    cursor: pointer;
    position: relative;
    display: block;
    width: auto;
}

.post-overlay{
    background: rgba(0,0,0, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
}
.post:hover .post-overlay{
    display: flex;
}

.post-overlay .description{
    color: white;
    /* margin: 20px;
    padding: 0 15px; */
}
p{
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display:inline-block
    }

.post-list{
    background: #a0252d;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-template-rows: 40px 1fr 40px 1fr 40px;
    justify-content: center;
    grid-gap:10px;
}
.title1{
    grid-column: 1 /span 3;
    grid-row: 1 /span 1;
    margin-top: 20px;
    color: white;
}
.title2{
    grid-column: 1 /span 3;
    grid-row: 3 /span 1;
    margin-top: 20px;
    color: white;
}
.title3{
    grid-column: 1 /span 3;
    grid-row: 5 /span 1;
    margin-top: 20px;
    color: white;
}
.p1{
    grid-column: 1 / 2;
    grid-row: 2 /3;
}
.p2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.p3{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.p4{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.p5{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.p6{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.p7{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}
.p8{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}
.p9{
    grid-column: 3 / 4;
    grid-row: 6/ 7;
}
    
.main{
    background: #a0252d;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 20px
}
